---
layout: default
title: BearFacts - Asian Bears
meta: Asian Bears
---
    <div class="left-wrapper">
      <img class="flex-img" src="img/bear-header.jpg">
    </div>

    <div class="right-wrapper">
		<h2>Asian Bears</h2>
		<ul>
		  {% for bear in site.pages %}
			{% if bear.category == "asia" %}
			  <h3>{{bear.type}}</h3>
			  <img src="{{site.baseurl}}/img/{{bear.image}}" alt="Photo of {{bear.type}}" class="bear-img">
			  <p>Weight: {{bear.weight}}</p>
			  <p>{{bear.info}}</p>
			{% endif %}
		  {% endfor %}
		</ul>
		</div>
	</div>