---
layout: default
title: BearFacts - Extinct Bears
meta: Extinct Bear Species
---
    <div class="left-wrapper">
      <img class="flex-img" src="img/bear-header.jpg">
    </div>

    <div class="right-wrapper">
		<h2>Extinct Bears</h2>
		<ul>
		  {% for bear in site.pages %}
			{% if bear.category == "extinct" %}
			  <h3>{{bear.type}}</h3>
			  <img src="{{site.baseurl}}/img/{{bear.image}}" alt="Photo of {{bear.type}}" class="bear-img">
			  <p><strong>Weight:</strong> {{bear.weight}}</p>
			  <p>{{bear.info}}</p>
			{% endif %}
		  {% endfor %}
		</ul>
		</div>
	</div>