---
layout: default
title: BearFacts - Famous Bears
meta: Famous Bears
---


    <div class="right-wrapper">
		<h2>Famous Bears</h2>
		<ul>
		  {% for bear in site.pages %}
			{% if bear.category == "famous" %}
			  <h3>{{bear.type}}</h3>
			  <img src="{{site.baseurl}}/img/{{bear.image}}" alt="Photo of {{bear.type}}" class="bear-img">
			  <p><strong>Type of bear:</strong> {{bear.weight}}</p>
			  <p>{{bear.info}}</p>
			{% endif %}
		  {% endfor %}
		</ul>
		</div>
	</div>

    <div class="lower-left-wrap" role="contentinfo">

      <img class="flex-img" src="img/map-tv.jpg" alt="map for {{site.title}} ">
    </div>
