html{
	margin: 0;
	padding: 0;
	
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1{
	text-align:center;	
}


.image-div{
	width: 35%;
	float: left;
}

.img{
	width: 100%;
}

.info{
	width: 80%;
	float: left;
	padding: 2%;
	margin-left: 10%;
	margin-right:10%;
}


