html{
	margin: 0;
	padding: 0;
	
	font-family: Georgia, "Times New Roman", Times, serif;
}

.image-div{
	width: 35%;
	float: left;
}

.img{
	width: 100%;
}

.info{
	width: 60%;
	float: left;
	padding: 2%;
}

