@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
  margin:0;
  padding:0;

  font-family: Georgia, serif;

}

body{
  margin:0;
  padding:0;
  
  background-color:#FFC;
}

p{
	padding: 2.5%;
}

.bear-img{
	width: 95%;
}

h3{
	color:#FFF;
}

/*----------------------------------------------------------------------HEADER*/

header {
  background-color:#090;
  height: 4rem;
}

ul{
	background-color: #090;
	padding: 5%;
}

.logo {
  color: #fff;

  padding:20px;
  margin: 0;

  float: right;

  display: inline;
}

/*--------------------------------------------------------------------WRAPPERS*/

.flex-img {
  width: 95%;
}

.left-wrapper {
  width: 100%;
  display: inline-block;
  margin:0;
  padding:0;

}

.right-wrapper {
  width: 100%;

  background-color: #FFC;
  padding: 10px;
  margin:0;
}

.lower-left-wrap {
  width: 100%;

  margin: 0 0 8rem 0;
  padding: 5px;

	background-color:#B7FA9E;
}


@media only screen and (min-width: 40em){
 
  .left-wrapper {
    width: 47%;
    float:left;
  }

  .right-wrapper {
    width: 47%;
    height: 1000px;
    float:right;

    display: block;
	background-color: #FFC;

  }

  .lower-left-wrap {
    width: 45%;
    float: left;

    margin: .75rem;
	background-color:#B7FA9E;
  }
  
  .subtitle{
	  font-size: 1.75em;
	  line-height: 1.5em;
  }
}



/*----------------------------------------------------------------------FOOTER*/

footer {
  width: 100%;
  background-color: #090;;
  color: #fff;

  bottom:0;
  position: fixed;

  padding: 10px;
}

footer li {
  list-style-type: none;
}

/*---------------------------SKIP LINK*/
.skiplinks{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3000;
	
	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
	
	width:100%;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	padding: 0.75em;
	position: absolute;
	top:-10em;
	
	background-color: black;
	
	color: white;
	text-decoration: none;

}

.skiplinks a:focus{
	top: 0;
}

a,
a:link,
a:visited {
	/*
	Change your color, etc.
	The underline is also extremely important to accessiblity.
	You should have an underline, but you can use a border if you want more control.
	*/
}

a:hover,
a:active{
	/*
	It's OK to remove the outline on hover/active 
	becuse they are mouse based interactions.
	*/
}

a:focus {
	outline: 3px solid #000;
}